body
{
  background-color:gray;
}

.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px
  background:cyan;
  color:white;
}
  
h2
{
  color:white;
  font-family:Comic Sans MS;
}

h3
{
  color:white;
  font-family:Comic Sans MS;
}

p
{
  color:white;
  font-family:Comic Sans MS;
}

ul
{
  color:white;
  font-family:Comic Sans MS;

}



