body
{
  background-color:gray;
}

h2
{
  color:white;
  font-family:Comic Sans MS;
}

h3
{
  color:white;
  font-family:Comic Sans MS;
}

p
{
  color:white;
  font-family:Comic Sans MS;
}

ul
{
  color:white;
  font-family:Comic Sans MS;
}