body
{
  background:#e3f2fd;
}
.header{
  width:100%;
  margin:auto;
  height:150px;
  line-height:150px;
  background:#2277AA;
  color:white;
}

h2
{
  color:white;
  font-family:Comic Sans MS;
}

h3
{
  color:black;
  font-family:Comic Sans MS;
}

p
{
  color:black;
  font-family:Comic Sans MS;
}

ul
{
  color:black;
  font-family:Comic Sans MS;
}
